@font-face {
  font-family: "RS6";
  src: url("../../fonts/R6S-Regular.woff2") format("woff2"),
    url("../../fonts/R6S-Regular.woff") format("woff"),
    url("../../fonts/R6S-Regular.otf") format("opentype"),
    url("../../fonts/R6S-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
