@import "fonts.scss";
@import "navbar.scss";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  background: #212e50
    url(https://static-dm.ubisoft.com/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg)
    50% 50% repeat-y;
  background-size: 100%;
  font-family: "RS6", "Roboto", sans-serif;
}

button,
input,
select,
textarea {
  font-size: 1em;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[tabindex],
a,
area,
button,
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button,
input,
select,
textarea {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a {
  transition-property: color, opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

svg:not(:root) {
  overflow: hidden;
}
